h1, label, #joke, #show-answer{
    color:darkslateblue;
}
#show-answer, input{
    border-color:lavender;
}
button{
    padding: 5px;
    margin: 5px;
    background-color: none;
}
.button, .clear{
    color:white;
}

.btn-primary, .button, .clear{
    background-color: darkslateblue;
    border-color: darkslateblue;
}

.btn-primary:hover, .button:hover, .clear:hover{
    background-color: darkslateblue;
    border-color: darkslateblue;
}

form, #buttons{
    background-color: lavender;
    /* border: black 2px solid; */
    padding: 5px;
    margin: 0;
}

.answer{
    display: block;
    padding-bottom: 5px;
}

