button{
    padding: 5px;
    margin: 5px;
    background-color: none;
}
.button{
    color:white;
}


.btn-primary, .button{
    background-color: darkslateblue;
    border-color: darkslateblue;
}

.btn-primary:hover, .button:hover{
    background-color: darkslateblue;
    border-color: darkslateblue;
}

form, #buttons{
    background-color: lavender;
    /* border: black 2px solid; */
    padding: 5px;
    margin: 0;
}

.answer{
    display: block;
    padding-bottom: 5px;
}

